{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d8f4d11d85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href = "{% static 'new/Login.css' %}" >
    <title>Register In</title>
</head>
<body>
    <div class = "content">
        <h1>Register</h1>
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input class = "buttonClick" type="submit" value="Register"/>
        </form>
        <button onclick="history.back()">Go Back</button>
    </div>
</body>
</html>
